@import './guide.scss';

// Main Container
.main-wrapper {
	display: grid;
	grid-template-rows: 1fr 3fr;
	width: 600px;
	height: auto;
	padding: 25px;
	background-color: $white;
	border-radius: 20px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

// Faqs Title Section
.faqs-heading__title {
	@include flexbox(row, space-between);
	width: 160px;
	h1 {
		font-size: $xlg-size;
		font-weight: $bold;
		color: $dark-purple;
	}
}

// Faqs Questions Section
.questions__container {
	@include flexbox(column, space-around, start);
	height: 100%;
}
.questions-info {
	width: 100%;
	border-bottom: 2px solid $light-pink;
	&:hover {
		cursor: pointer;
	}
}
.questions-info[open] {
	.icon {
		background-image: url(../assets/icons/icon-minus.svg);
	}
}
.question {
	@include flexbox(row, space-between, center);
	padding-bottom: 5px;
	font-size: $md-size;
	font-weight: $md;
	color: $dark-purple;
	transition: color 400ms;
	.icon {
		width: 30px;
		height: 30px;
		background-image: url(../assets/icons/icon-plus.svg);
		background-repeat: no-repeat;
	}
	p {
		margin: 0;
		width: 95%;
	}
	&:hover {
		color: $purple;
	}
}
.answer--open {
	font-size: $sm-size;
	font-weight: $light;
	color: $grayish-purple;
}
